{% extends "_wrapper.html" %}

{% block headtitle %}Lintable | Status {% if jobid %}for job {{ jobid|e }}{% endif %}{% endblock %}

{% block pagetitle %}
  Status
  {% if jobid %}
    for job {{ jobid|e }}
    <small><a class="btn btn-info btn-sm" href="/status"><span class="octicon octicon-triangle-up"></span></a></small>
  {% endif %}
{% endblock %}

{% block content %}
  {% if not jobid %}
    <p class="lead">You currently have these jobs active.</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-xs-center">Job ID</th>
          <th>Duration</th>
          <th>Repo</th>
          <th>Last Commit</th>
        </tr>
      </thead>
      <tbody>
        {% for number in range(9) %}
          <tr>
            <td class="text-xs-center"><a class="btn btn-info btn-sm" href="/status/{{ number }}"><span class="octicon octicon-sync"></span>  {{ number }}</a></td>
            <td>3 hours (in progress)</td>
            <td><a href="#">https://github.com/reponame/repo</a></td>
            <td><code>10{{ number }}dcac</code></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if jobid %}
    <p class="lead">This job is <b>currently running</b>. It's been running for <b>3 hours</b>.</p>

    <dl>
      <dt>Job ID</dt>
      <dd>123456</dd>

      <dt>Repo</dt>
      <dd>https://github.com/reponame/repo</dd>

      <dt>Last Commit</dt>
      <dd><code>101dcac</code></dd>
    </dl>

    <p><a href="#" class="btn btn-danger">Cancel Job</a></p>
  {% endif %}
{% endblock %}
